{include file="../../../application/admin/view/public/head" /}
<style>.layui-layout-admin .layui-footer {background-color: #fff;padding: 10px 0;text-align: center;box-shadow: 0 -1px 2px 0 rgba(0,0,0,.05);}</style>
<div class="page-container">

    <div class="showpic" style="display:none;"><img class="showpic_img" width="120" height="160" referrerPolicy="no-referrer"></div>

    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" name="__token__" value="{$Request.token}" />

        <div class="layui-tab" lay-filter="tb1">
            <ul class="layui-tab-title" style="padding: 15px 30px 0 30px;">
                <li class="layui-this" lay-id="config_1">主题首页</li>
                <li lay-id="config_2">常规设置</li>
            </ul>
            <div class="layui-tab-content">

				<div class="layui-tab-item layui-show">
					<blockquote class="layui-elem-quote">
						<p>欢迎使用 <a target="_blank" href="https://madouui.com">MISS视频</a>，修改前请备份相关文件！以免数据丢失！</p>
					</blockquote>
					<table class="layui-table" style="margin-top: 20px">
						<colgroup>
							<col width="110">
							<col width="180">
							<col>
						</colgroup>
						<thead>
							<tr>
								<th colspan="2" scope="col">主题简介</th>
								<th colspan="1" scope="col">使用说明</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>主题名称</td>
								<td>MISS视频</td>
								<td>1. 推荐使用PHP版本7.2</td>
							</tr>
							<tr>
								<td>适用系统</td>
								<td>苹果cmsV10</td>
								<td>2. 主题文件读写权限755</td>
							</tr>
							<tr>
								<td>作者</td>
								<td><a>MaDouYM</a></td>
								<td>3. 使用盗版主题遇到任何问题概不负责，更新维护具体查看官网</td>
							</tr>
							<tr>
								<td>使用教程</td>
								<td><a target="_blank" href="https://madouui.com">点击查看</a></td>
								<td>4. 因主题是可复制的商品，售出后一律不予退款</td>
							</tr>
							<tr>
								<td>当前版本</td>
								<td>1.0</td>
								<td>5. 不提供免费个性化修改服务，咨询请联系管理</td>
							</tr>
							<tr>
								<td>更新时间</td>
								<td>2023-6-10</td>
								<td>6. ※ 倡导文明模板 • 请勿非法使用 ※</td>
							</tr>
							<tr>
								<td>官方网站</td>
								<td><a target="_blank" href="https://madouui.com">MaDouUi.com</a></td>
								<td style="color: red;">请务必尊重知识产权，严格保证不恶意传播产品源码、不得直接对源码进行二次转售或倒卖等。一经发现，我方有权利终止你在我方购买的所有源码的售后技术支持。</td>
							</tr>
						</tbody>
					</table>
					<br>
				</div>
                <div class="layui-tab-item">
					<fieldset class="layui-elem-field">
						<legend>常规设置</legend>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">反调试</label>
								<div class="layui-input-inline w200">
									<input type="radio" name="madou[debug][state]" value="0" title="{:lang('close')}" {if condition="$config['madou']['debug']['state'] eq '0'"}checked {/if}>
									<input type="radio" name="madou[debug][state]" value="1" title="{:lang('open')}" {if condition="$config['madou']['debug']['state'] neq '0'"}checked {/if}>
								</div>
								<div class="layui-form-mid layui-word-aux">开启后网页禁止调试，无法使用F12控制台</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">免费模式</label>
								<div class="layui-input-inline w200">
									<input type="radio" name="madou[free][state]" value="0" title="{:lang('close')}" {if condition="$config['madou']['free']['state'] eq '0'"}checked {/if}>
									<input type="radio" name="madou[free][state]" value="1" title="{:lang('open')}" {if condition="$config['madou']['free']['state'] neq '0'"}checked {/if}>
								</div>
								<div class="layui-form-mid layui-word-aux">开启后全部视频免费观看</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">顶部友链</label>
								<div class="layui-input-inline w200">
									<input type="radio" name="madou[link][state]" value="0" title="{:lang('close')}" {if condition="$config['madou']['link']['state'] eq '0'"}checked {/if}>
									<input type="radio" name="madou[link][state]" value="1" title="{:lang('open')}" {if condition="$config['madou']['link']['state'] neq '0'"}checked {/if}>
								</div>
								<div class="layui-form-mid layui-word-aux">关闭后不显示对应模块和内容</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">顶部分类：</label>
								<div class="layui-input-block">
									<input type="text" name="madou[header]" placeholder="" value="{$config['madou']['header']}" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">首页分类：</label>
								<div class="layui-input-block">
									<input type="text" name="madou[index]" placeholder="" value="{$config['madou']['index']}" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">首页最新数量：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[newnum]" placeholder="" value="{$config['madou']['newnum']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">首页分类数量：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[indexnum]" placeholder="" value="{$config['madou']['indexnum']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">除首页外数量：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[typenum]" placeholder="" value="{$config['madou']['typenum']}" class="layui-input w150">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">LOGO：</label>
								<div class="layui-input-inline w600">
									<input type="text" name="madou[logo]" placeholder="图片地址或路径" value="{$config['madou']['logo']}" class="layui-input upload-input">
								</div>
								<div class="layui-input-inline ">
									<button type="button" class="layui-btn layui-upload" lay-data="{data:{thumb:0,thumb_class:'site[madou_logo]'}}" id="upload1">上传图片</button><input class="layui-upload-file" type="file" name="file">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">懒加载图片：</label>
								<div class="layui-input-inline w600">
									<input type="text" name="madou[lazy]" placeholder="图片地址或路径" value="{$config['madou']['lazy']}" class="layui-input upload-input">
								</div>
								<div class="layui-input-inline ">
									<button type="button" class="layui-btn layui-upload" lay-data="{data:{thumb:0,thumb_class:'site[madou_lazy]'}}" id="upload1">上传图片</button><input class="layui-upload-file" type="file" name="file">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">注册赠送VIP：</label>
								<div class="layui-input-block">
									<input type="text" name="madou[site_reg_vip]" placeholder="" value="{$config['madou']['site_reg_vip']}" class="layui-input w150">
								</div>
							</div>
							
						</div>
					</fieldset>
					
					
	
					<fieldset class="layui-elem-field">
						<legend>会员充值</legend>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">体验会员：</label>
								<label class="layui-form-label">所需金额：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_point_0]" placeholder="" value="{$config['madou']['site_point_0']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">体验天数：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_time_0]" placeholder="" value="{$config['madou']['site_time_0']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">兑换积分：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_exchintegra_0]" placeholder="" value="{$config['madou']['site_exchintegra_0']}" class="layui-input w150">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">VIP充值会员：</label>
								<label class="layui-form-label">所需金额：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_point_1]" placeholder="" value="{$config['madou']['site_point_1']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">升级天数：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_time_1]" placeholder="" value="{$config['madou']['site_time_1']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">兑换积分：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_exchintegra_1]" placeholder="" value="{$config['madou']['site_exchintegra_1']}" class="layui-input w150">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="background: #fff;border: 0;"></label>
								<label class="layui-form-label">所需金额：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_point_2]" placeholder="" value="{$config['madou']['site_point_2']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">升级天数：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_time_2]" placeholder="" value="{$config['madou']['site_time_2']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">兑换积分：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_exchintegra_2]" placeholder="" value="{$config['madou']['site_exchintegra_2']}" class="layui-input w150">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="background: #fff;border: 0;"></label>
								<label class="layui-form-label">所需金额：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_point_3]" placeholder="" value="{$config['madou']['site_point_3']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">升级天数：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_time_3]" placeholder="" value="{$config['madou']['site_time_3']}" class="layui-input w150" >
								</div>
								<label class="layui-form-label">兑换积分：</label>
								<div class="layui-input-inline">
									<input type="text" name="madou[site_exchintegra_3]" placeholder="" value="{$config['madou']['site_exchintegra_3']}" class="layui-input w150">
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset class="layui-elem-field">
						<legend>播放设置</legend>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">播放选集</label>
								<div class="layui-input-inline w200">
									<input type="radio" name="madou[playlist][state]" value="0" title="{:lang('close')}" {if condition="$config['madou']['playlist']['state'] eq '0'"}checked {/if}>
									<input type="radio" name="madou[playlist][state]" value="1" title="{:lang('open')}" {if condition="$config['madou']['playlist']['state'] neq '0'"}checked {/if}>
								</div>
								<div class="layui-form-mid layui-word-aux">关闭后不显示对应模块和内容</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">播放页公告</label>
								<div class="layui-input-block">
									<textarea name="madou[paly][notice]" class="layui-textarea" placeholder="请输入公告内容，支持html代码" cols="80" rows="2">{$config['madou']['paly']['notice']}</textarea>
								</div>
							</div>
						</div>
					</fieldset>
					
					<fieldset class="layui-elem-field">
						<legend>底部设置</legend>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">底部介绍</label>
								<div class="layui-input-block">
									<textarea name="madou[footer][introduce]" class="layui-textarea" placeholder="底部介绍，支持html代码" cols="80" rows="2">{$config['madou']['footer']['introduce']}</textarea>
								</div>
							</div>
						</div>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">底部自定义菜单</label>
								<div class="layui-input-block">
									<textarea name="madou[footer][menu]" class="layui-textarea" placeholder="底部自定义菜单，支持html代码" cols="" rows="2" style="height:200px">{$config['madou']['footer']['menu']}</textarea>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset class="layui-elem-field">
						<legend>统计代码</legend>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">统计代码</label>
								<div class="layui-input-block">
									<textarea name="madou[tj]" class="layui-textarea" placeholder="统计代码" cols="80" rows="2">{$config['madou']['tj']}</textarea>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="layui-form-item layui-layout-admin" style="margin: 30px 0;">
					<div class="layui-input-block">
						<div class="layui-footer" style="left:0;height:38px;">
							<button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">{:lang('btn_save')}</button>
							<button class="layui-btn layui-btn-warm" type="reset">{:lang('btn_reset')}</button>
						</div>
					</div>
				</div>
            </div>
        </div>
    </form>
</div>

{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.js"></script>
<script type="text/javascript">
    layui.use(['form','upload', 'layer'], function(){
        // 操作对象
        var element = layui.element
            ,form = layui.form
            , layer = layui.layer
            , upload = layui.upload;

        form.on('radio(cache_type)',function(data){
            $('.row_cache_server').hide();
           if(data.value=='memcache' || data.value=='redis' || data.value=='memcached'){
               $('.row_cache_server').show();
           }
        });

        element.on('tab(tb1)', function(){
            $.cookie('config_tab', this.getAttribute('lay-id'));
        });

        if( $.cookie('config_tab') !=null ) {
            element.tabChange('tb1', $.cookie('config_tab'));
        }
		
		var upload_path = $('.j-ajax', parent.document).attr('href').replace('/index/clear.html', '') + '/upload/upload.html?flag=site';
		var ishttps = 'https:' == document.location.protocol ? 'https://': 'http://';
		upload.render({
			elem: '.layui-upload'
			,url: upload_path
			,method: 'post'
			,before: function(input) {
				layer.msg('文件上传中...', {time:3000000});
			},done: function(res, index, upload) {
				var obj = this.item;
				if (res.code == 0) {
					layer.msg(res.msg);
					return false;
				}
				layer.closeAll();
				var input = $(obj).parent().parent().find('.upload-input');
				if ($(obj).attr('lay-type') == 'image') {
					input.siblings('img').attr('src', res.data.file).show();
				}
				input.val(ishttps+window.location.host+'/'+res.data.file);
			}
		});

        $('.upload-input').hover(function (e){
            var e = window.event || e;
            var imgsrc = $(this).val();
            if(imgsrc.trim()==""){ return; }
            var left = e.clientX+document.body.scrollLeft+20;
            var top = e.clientY+document.body.scrollTop+20;
            $(".showpic").css({left:left,top:top,display:""});
            if(imgsrc.indexOf('://')<0){ imgsrc = ROOT_PATH + '/' + imgsrc; } else{ imgsrc = imgsrc.replace('mac:','http:'); }
            $(".showpic_img").attr("src", imgsrc);
        },function (e){
            $(".showpic").css("display","none");
        });


    });
</script>
</body>
</html>